server {
    listen       0.0.0.0:80;
    server_name  localhost;
    charset      utf-8;
    access_log  /var/log/nginx/vn_image_access.log  main;
    error_log /var/log/nginx/vn_image_error.log;

    root /var/www/html;
    server_tokens off;
    location / {
        root /var/www/html;
    }

    error_page 400 410 403 404 /40x.html;
    location /40x.html {
        root /var/www/error;
        allow all;
    }
}
